* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.firstsec {
  padding: 50px;
  height: 100vh;
}
.firstsec .content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.text h1 {
  font-size: 50px;
  color: rgb(48, 44, 44);
  margin-bottom: 20px;
}
.text h1 span {
  color: orange;
}
.text p {
  font-weight: 10px;
  margin-bottom: 30px;
  color: rgb(82, 82, 82);
}

.btn {
  padding: 10px 15px;
  border-radius: 15px;
  background: linear-gradient(to right, orange, red);
  border: none;
  color: white;
  box-shadow: 2px 3px 17px 14px rgba(219, 115, 17, 0.1);
}
.content .img1 {
  width: 40;
}

.secondsec {
  padding: 0 100px;
  height: 100vh;
  background-image: url(./img/shapes/7.png);
}
.secondsec .content2 {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img2 {
  /* height: 100%; */
  right: 100px;
  /* height: 100px; */
}
.img2 img {
  margin-bottom: 0px;
  max-width: 400px;
  left: 50px;
  bottom: 0px;
  margin-left: 50px;
  margin-top: 70px;
}
.text1 {
  width: 30%;
  margin-left: 40px;
}
.text1 h1 {
  font-size: 35px;
  margin-bottom: 10px;
}
.text1 p {
  color: rgb(82, 82, 82);
  margin-bottom: 40px;
}
.thirdsec {
  padding: 80px;
  height: 100vh;
}
.content3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 30%; */
}
.content3 h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #676767;
}
.content3 p {
  color: #252525;
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box1 {
  padding: 20px;
  width: 377px;
  /* height: 4px; */
  margin-top: 60px;
  box-shadow: 2px 3px 17px 14px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.box1 img {
  width: 100%;
  height: 256px;
  object-fit: cover;
}
.box1 h2 {
  margin: 20px 0;
}
.box1 p {
  margin: 20px 0;
}
.fourthsec {
  height: 70vh;
  padding: 100px 100px;
}
.content4 {
  padding: 80px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 3px 17px 14px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.content4 h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
}
.foot {
  height: 35vh;
  background-color: black;
  padding: 80px 100px;
}
.content5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content5 h1 {
  color: #5b5b5b;
  margin-bottom: 20px;
}
.content5 span {
  color: #fc8043;
}
.content5 p {
  color: rgb(212, 211, 211);
}
